
services:
 backend:
  
  build: .
  ports:
    - "5000:5000"
  environment:
    - MONGODB_URI=mongodb://mongo:27017/mydb
  depends_on:
    - mongo

 mongo:
  image: mongo:6
  ports:
   - "27017:27017"
  volumes:
    - mongo-data:/data/db
volumes:
  mongo-data: